<style>
	body {
		background-image: url('{{wallpaper}}');
	}
</style>
<h1>SamuelOS</h1>
<hr />
<br />
<img src="/file.svg" />
{{#each files}}
	<a class="ic" ondblclick="window.open('/{{this}}/?pass={{../pass}}', 'SamuelOS - {{this}}', 'width=800px,height=720px');">{{this}}</a>
{{/each}}
<br /><br />
<img src="/app.svg" />
{{#each apps}}
<a class="ic" ondblclick="window.open('/app/{{this.pkg}}?pass={{../pass}}', 'SamuelOS - {{this.name}}', 'width=800px,height=720px');">{{this.name}}</a>
{{/each}}
<br /><br />
<img src="/game.svg" />
{{#each games}}
<a class="ic" ondblclick="window.open('/app/{{this.pkg}}?pass={{../pass}}', 'SamuelOS - {{this.name}}', 'width=800px,height=720px');">{{this.name}}</a>
{{/each}}
<br /><br />
<form action="/api/create">
	<input type="hidden" name="pass" value="{{pass}}" />
	<input name="filename" placeholder="Create a file..." />
	<input type="submit" />
</form>
<br />
<hr />